{
  :devices {
    :internal
      [{:vendor_id 1452 :product_id 835}]
  }

  :layers {
    :caps {:key :caps_lock :alone {:key :escape} }
    :hyper {:key :non_us_backslash :alone {:key :grave_accent_and_tilde}}
  }


  :main [
    {
     :des "Swap FN and L_CTRL"
     :rules [:internal [:##left_control :##fn] [:##fn :##left_control]]
    }
    {
     :des "Caps Arrowkeys"
     :rules
      [:internal :caps
        [:##h :##left_arrow]
        [:##j :##down_arrow]
        [:##k :##up_arrow]
        [:##l :##right_arrow]
        [:##u :##page_up]
        [:##o :##page_down]
        [:##delete_or_backspace :delete_forward]
        [:spacebar :!Tspacebar]
        [:##h :##home]
        [:##semicolon :##end]
        [:##grave_accent_and_tilde :caps_lock]
      ]
    }
    {
     :des "§± Layer"
     :rules
      [:internal :hyper
       [:##grave_accent_and_tilde :caps_lock]
      ]
    }
  ]
}

